h1{
	color: #1F7A8C
	;
	text-align: center;
}

h2{
	color: #1F7A8C;
}

h3{
	color: #1F7A8C;
}
body{
	text-align: center ;
}

img{
	display: inline-block;
}

body {
	background-color: #AED9E0;
}
